main {
    margin: auto;
}

.hero__top {
    width: 100%;
    background-image: url(/imgs/hero__backImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-radius: 15px;
    margin-bottom: 136px;

    .hero__backDrop {
        border-radius: 10px;

        .hero__inner-container {
            padding: 117px 85px;

            .hero__title {
                width: 490px;
                font-family: 'Fraunces';
                font-weight: 900;
                font-size: 72px;
                line-height: 72px;
                color: #FEFCF7;
                margin-bottom: 32px;
            }

            .hero__text {
                width: 410px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FEFCF7;
                mix-blend-mode: normal;
                opacity: 0.8;
                margin-bottom: 56px;
            }

            .hero__btn {
                font-family: 'Fraunces';
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;
                color: #FEFCF7;
                padding: 15px 31px;
                background: #66D2CF;
                border-radius: 6px;
                cursor: pointer;
                border: none;
            }
        }
    }
}

@media screen and (max-width:770px) {
    .hero__top {
        .hero__backDrop {
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(3px);
        }

        background-image: url(/imgs/media-heroTop__backImage.jpg);
        background-position: right;

        .hero__inner-container {
            padding: 104px 58px;
        }
    }
}

@media screen and (max-width:600px) {
    .hero__container {
        padding: 24px 24px;
        text-align: center;

        .hero__top {
            .hero__backDrop {
                background-color: rgba(0, 0, 0, 0.519);
                backdrop-filter: blur(3px);
            }

            background-image: url(/imgs/media-heroTop__backImage.jpg);
            background-position: right;

            .hero__inner-container {
                padding: 100px 24px;

                .hero__title {
                    max-width: 100%;
                    font-size: 36px;
                    line-height: 36px;
                    text-align: center;
                }

                .hero__text {
                    max-width: 100%;
                    font-size: 14px;
                    line-height: 25px;
                    margin-bottom: 39px;
                }

                .hero__btn {
                    width: 217px;
                    height: 56px;
                    background-color: #0E8784;
                }
            }
        }
    }
}

// H - E - R -  O  _-_-_-  C  O  N  T  E  N  T

.hero__content
{
    max-width: 100%;
    padding-top: 126px;
    margin-bottom: 200px;
    .content__item
    {
        position: relative;
        top: -50px;
        text-align: center;
    }
    
    .content__inner-card
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        position: relative;
        .content__card-backImage
        {
            width: 1111px;            
            height: 196px;
            position: absolute;
            z-index: -1;
            top: -130px;
            left: 20px;
            opacity: .4;
            img{
                width: 100%;
                height: auto;
            }
        }
        .content__card
        {
            max-width: 255px;
            text-align: center;
            border-radius: 8px;
            transition: .3s;
            cursor: pointer;
            backdrop-filter: blur(3px);
            .content__card-image
            {
                width: 255px;
                height: 193px;
                background-image: url(/imgs/hero__Center-box2.svg);
                margin-bottom: 71px;
            }
            .content__card-title
            {
                font-family: 'Fraunces';
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                color: #333D4B;
                margin-bottom: 24px;
            }
            .content__card-text
            {
                max-width: 250px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #333D4B;
            }
        }
    }
}

@media screen and (max-width:1350px) {
    .content__inner-container
    {
        padding: 0px 25px;
        .content__inner-card
        {
            .content__card-backImage
            {
                position: relative;
                height: 0px;
                left: 0px;
                opacity: 1;
            }
        }
        .content__card
        {
            margin: auto;
        }
    }
}

@media screen and (max-width:400px) {
    .content__inner-container
    {
        padding: 0px 25px;
        .content__inner-card
        {
            gap: 50px;
            .content__card-backImage
            {
                position: relative;
                margin-left: 0px;
                width: 375px;
                height: 0px;
            }
        }
        .content__card
        {
            margin: auto;
        }
    }
}


// H - E - R - O _-_-_ CH O O S E   

.hero__choose
{
    max-width: 100%;
    width: 100%;
    background-color: #282F38;
    padding: 100px 85px;
    color: #fff;
    text-align: center;
}
.choose__title
{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.choose__text
{
    max-width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0 auto;
    margin-bottom: 86px;
}
.choose__list
{
    max-width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}
.choose__item
{
    width: 350px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 72px 48px 48px 47px;
    margin: 0 auto;
    &::before
    {
        content: "";
        max-width: 72px;
        width: 100%;
        height: 72px;
        display: inline-block;
        background-image: url(/imgs/choose__cofe-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 56px;
        object-fit: cover;
    }
}
.choose__item2
{
    &::before
    {
        background-image: url(/imgs/choose__cofe-icon2.svg);
    }
}
.choose__item3
{
    &::before
    {
        background-image: url(/imgs/choose__cofe-icon3.svg);
    }
}
.choose__subtitle
{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    margin-bottom: 24px;
}
.choose__subtext
{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

@media screen and (max-width:1100px) {
    .choose__item
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        &::before
        {
            margin-bottom: 0px;
        }
    }
    .choose__block
    {
        margin-left: 56px;
    }
    .choose__subtitle
    {
        margin-bottom: 16px;
    }
    .choose__text
    {
        max-width: 344px;
    }
    .choose__list
    {
        height: 280px;
    }
}

@media screen and (max-width:500px) {
    .hero__choose
    {
        padding: 100px 24px;
    }
    .choose__item
    {
        max-width: 100%;
        padding: 50px 15px 51px 15px;
        flex-direction: column;
        text-align: center;
        &::before
        {
            margin-bottom: 56px;
        }
    }
    .choose__block
    {
        margin-left: 0;
    }
    .choose__list
    {
        height: 550px;
    }
}


// h  e  r  o _-_-_-_ B  o  t  t  o  m

.heroBottom__container
{
    margin-top: 356px;
    margin-bottom: 120px;
}
.bottom__title
{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}
.bottom__line
{
    width: 70%;
    height: 2px;
    background-color: #FDD6B9;
    border: none;
    margin-left: 0;
}
.bottom__lineList
{
    max-width: 71%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    position: relative;
    top: -25px;
    margin-bottom: 82px;
}
.bottom__circle
{
    max-width: 31px;
    width: 100%;
    height: 31px;
    border: 2px solid #0E8784;
    border-radius: 50%;
    background-color: #fff;
}
.bottom__list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 95px;
}
.bottom__item
{
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 64px;
}
.bottom__item-Number
{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    display: block;
    margin-bottom: 38px;
}
.bottom__subtitle
{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 42px;
}
.bottom__text
{
    max-width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.bottom__btn
{
    @include global__btn;
}



@media screen and (max-width:1400px) {
    .heroBottom__container
    {
        margin-top: 780px;
    }
}

@media screen and (max-width:1100px) {
    .heroBottom__container
    {
        margin-top: 470px;
    }
    .bottom__list
    {
        gap: 10px;
    }
    .bottom__item
    {
        width: 213px;
    }
}

@media screen and (max-width:800px) {
    .container
    {
        padding: 20px 35px;
    }
    .heroBottom__container
    {
        margin-top: 480px;
    }
}

@media screen and (max-width:500px) {
    .heroBottom__container
    {
        margin-top: 570px;
        padding: 0 24px;
    }
    .bottom__line, .bottom__lineList
    {
        display: none;
    }
    .bottom__list
    {
        gap: 40px;
    }
    .bottom__item
    {
        margin: 0 auto;
    }
    .bottom__btn
    {
        margin-top: 79px;
    }
}
@media screen and (max-width:380px) {
    .heroBottom__container
    {
        margin-top: 700px;
        padding: 0 24px;
    }
    .choose__title
    {
        font-size: 28px;
        line-height: 28px;
    }
    .choose__text
    {
        font-size: 16px;
        line-height: 16px; 
        line-height: 20px;
    }
    .bottom__line, .bottom__lineList
    {
        display: none;
    }
    .bottom__item
    {
        margin: 0 auto;
    }
}